$panel_color:  #383836;
$panel_font: #9C9A95;
$error_color : red;
div#jumbo {
  margin-top: 0;
  background-color: $panel_color;
  color: $panel_font;
  padding-top: 30px;
  padding-bottom: 30px;
}
.panel-default > .panel-heading {
  background-color:  $panel_color;
  background-image: none;
  color: $panel_font;
}
div#navBar{
  margin-bottom: 0;
}
.panel-default {
  border: solid black 1px;
}
p{
  color: black;
}
div#loginBox{
  margin-top: 5px;
  margin-bottom: 5px;
}
.invalidField{
  border: solid $error_color 1px;
  color: $error_color;
}
.invalidFieldLabel{
  color: $error_color;
}
a:link, a:visited{
  .tableHeading{
    color: black;
  }
}
input.form-control.addItemField{
  width: 100%;
}
.panel-default > .panel-heading {
  background-color: #383836;
  background-image: none;
  color: #9C9A95;
}

.panel-default {
  border: solid black 1px;
}
td.panel-cell{
  border: none;
  text-align: center;
}
div.url-field{
  margin: 10px;
}
div.albumButtonBar{
  margin-bottom: 20px;
}
div.addAlbumFormButtons{
  margin-top: 15px;
}