<div class="navbar navbar-inverse navbar-static-top" id="navBar">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" ui-sref="home"><span class="glyphicon glyphicon-home"></span>
                Home</a>
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse navHeaderCollapse">
            <ul class="navbar-right nav navbar-nav">
                <li ui-sref-active="active" ng-repeat="item in links" class="dropdown" uib-dropdown on-toggle="toggled(open)">
                        <a href="#" uib-dropdown-toggle >{{item.name}}<b class="caret"></b> </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ui-sref-active="active" ng-repeat="item2 in item.subLinks"><a ui-sref="{{item2.state}}">{{item2.text}}</a> </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>